/* color palette */
:root {
    /* whites */
    --color-white: #ffffff;
    --color-white-soft: #f8f8f8;
    --color-white-muted: #dbdbdb;
  
    /* blacks */
    --color-black: #181818;
    --color-black-soft: #222222;
    --color-black-muted: #383838;
  
    /* color theme */
    --color-theme-1: #bc510a;

    /* elements */
    --color-divider-light-1: rgba(60, 60, 60, 0.29);
    --color-divider-light-2: rgba(60, 60, 60, 0.12);
    --color-divider-dark-1: rgba(84, 84, 84, 0.65);
    --color-divider-dark-2: rgba(84, 84, 84, 0.48);
  
    /* Semantic Color Variables */
    --color-background: var(--color-white-muted);
    --color-container-background: var(--color-white-muted);
    --color-text: #333333;
}

/* classes for color */
.color-theme-1 {
  color: var(--color-theme-1);
}
.default-color-text {
  color: var(--color-text);
}
.default-color-white {
  color: var(--color-white-soft);
}

/* classes for shadows */
.box-shadow-sm {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}
  
/* Dark Mode */
@media (prefers-color-scheme: dark) {
    :root {
      --color-background: var(--color-black);
      --color-text: var(--color-white);
      --color-container-background: var(--color-black-muted);
    }
}