  /* Unordered list styles */
  .list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  /* List item styles */
  .list-item {
    padding: var(--list-padding-vertical) var(--list-padding-horizontal);
  }

  /* Link styles */
  .list-item a {
    text-decoration: none;
    color: inherit;
  }

  /* NEW BOILERPOINT */
  .button {
    background-color: var(--color-theme-1);
    color: white;
    padding: var(--space-sm) var(--space-md);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }
  .button:hover {
    background-color: var(--color-theme-2);
  }
  