  /* Unordered list styles */
  .list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  /* List item styles */
  .list-item {
    padding: var(--list-padding-vertical) var(--list-padding-horizontal);
  }

  /* Link styles */
  .list-item a {
    text-decoration: none;
    color: inherit;
  }

  /* NEW BOILERPOINT */
  .button {
    background-color: var(--color-theme-1);
    color: white;
    padding: var(--space-sm) var(--space-md);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }
  .button:hover {
    background-color: var(--color-theme-2);
  }
  .rounded-button {
    font-size: 29px;
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 100%;
    background-color: var(--color-theme-1);
    color: var(--color-white-soft);
    transition: 0.4s all;
  }
  .rounded-button:hover {
    transform: scale(1.1);
  }

  /* NEW BOILERPOINT */
  .form-container {
    width: var(--dynamic-container-width-desktop);
    max-width: fit-content;
    height: var(--normal-container-height);
    color: var(--color-black-muted);
    background-color: var(--color-white-muted);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  }
  .form-heading {
    margin-bottom: var(--space-md);
  }
  .form-group {
    margin-bottom: var(--space-md);
  }
  label {
    display: block;
  }
  .input-field {
    width: 100%;
    padding: var(--space-sm);
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .submit-button {
    margin-top: var(--space-sm);
    background-color: var(--color-theme-1);
    color: var(--color-white-soft);
    padding: var(--space-sm) var(--space-md);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }
  .submit-button:hover {
    background-color: var(--color-theme-2);
  }
  .text-decoration-underline {
    margin-top: var(--space-md);
    cursor: pointer;
  }